@import url("https://fonts.googleapis.com/css?family=Roboto:300,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,900");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans");
@import url("fontello.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 0.95rem;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Form */
form {
  margin: 0 0 0.5em 0;
  width: 91%;
}

form .field {
  margin: 0 0 0.3em 0;
}

form .field.half {
  width: 50%;
  float: left;
  padding: 0 0 0 0.4em;
}

form .field.half.first {
  padding: 0 0.4em 0 0;
}

form > .actions {
  margin: 0.5em 0 0 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* Button */
input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: #000099;
  border: 0;
  border-radius: 0.1em;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  outline: 0;
  padding: 0 1em 0 1em;
  position: relative;
  text-align: right;
  text-decoration: none;
  margin: 0.1em 0.2em 0.1em 0.2em;
}

input[type="reset"],
.button,
button {
  background-color: red;
  padding: 0 1em 0 1em;
}

input[type="button"].down,
input[type="submit"].down,
input[type="reset"].down,
.button.down,
button.down {
  width: 5em;
  height: 5em;
  line-height: 4.5em;
  padding: 0;
  background-image: url("images/dark-arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -10em;
  overflow: hidden;
}

input[type="button"].down.anchored,
input[type="submit"].down.anchored,
input[type="reset"].down.anchored,
.button.down.anchored,
button.down.anchored {
  bottom: 0;
  border-bottom: 0;
  border-radius: 3em 3em 0 0;
  height: 4.5em;
  margin-left: -2.5em;
}

input[type="button"].anchored,
input[type="submit"].anchored,
input[type="reset"].anchored,
.button.anchored,
button.anchored {
  position: absolute;
  left: 50%;
}

input[type="button"]:hover,
input[type="submit"]:hover,
.button:hover,
button:hover {
  background-color: #0000ff;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.button:active,
button:active {
  background-color: #88bc82;
}

label {
  display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #000;
  display: block;
  width: 100%;
  padding: 0.2em 0.5em 0.2em 0.5em;
  background: #fff;
  border: solid 2px #e5e6e7;
  color: #000;
  border-radius: 0.2em;
  outline: none;
  font-size: 1rem;
  margin: 10px 0 10px 0;
}

.poptrox-popup {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-bottom: 3em;
  background: #000;
  -webkit-box-shadow: 0 0.1em 0.15em 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.1em 0.15em 0 rgba(0, 0, 0, 0.15);
}

.poptrox-popup .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1em 0 0 -1em;
  width: 2em;
  height: 2em;
  display: block;
  font-size: 2em;
}

.poptrox-popup .loader:before {
  -webkit-animation: spinner-rotate 0.75s infinite linear !important;
          animation: spinner-rotate 0.75s infinite linear !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  color: #e5e6e7;
  content: '\f1ce';
  cursor: default;
  display: block;
  height: 2em;
  left: 0;
  line-height: 2em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2em;
}

.poptrox-popup .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  line-height: 2.8em;
  text-align: center;
  cursor: default;
  z-index: 1;
  font-size: 0.9em;
}

.poptrox-popup .closer {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  text-indent: -9999px;
  z-index: 10000000;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.poptrox-popup .closer:before {
  content: '\f1ce';
  display: block;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
  background: url("images/poptrox-closer.svg") center center;
  color: #ffffff !important;
}

.poptrox-popup:hover .closer {
  opacity: 1;
}

.poptrox-popup:hover .closer:hover {
  opacity: 1.0;
}

body.is-touch .poptrox-popup .nav-next,
body.is-touch .poptrox-popup .nav-previous,
body.is-touch .poptrox-popup .closer {
  opacity: 1.0 !important;
}

/* Basic */
@-ms-viewport {
  width: device-width;
}

html body {
  --primary: #FFFFFF;
  --secondary: #111111;
  --bgcolor1: #660000;
  --bgcolor2: #FFFFFF;
  --bgcolort: rgba(102, 0, 0, 0.8);
  --txtshadow: 5px 5px 1px #111111;
}

body {
  height: 100vh;
  width: 100uv;
  text-decoration: none;
  color: var(--primary);
}

body, input, textarea, select, p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.025rem;
}

p {
  font-size: 1.1rem;
  font-size-margin: 0.2rem auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: inherit;
  letter-spacing: -0.0325em;
  text-align: center;
  font-family: 'Roboto', san-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

h1 {
  display: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
}

h2 {
  font-size: 1.1rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 2;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1;
  color: #999;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.6rem;
    line-height: 1.6;
    padding-bottom: 0.5em;
  }
}

.active {
  background: #000 !important;
}

.fullscreen {
  height: 100vh;
}

.shadow {
  -webkit-box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.7);
}

.cflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
}

.rflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .rflex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.consultas {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: auto 10px;
  padding: 10px;
  background: var(--bgcolor1);
}

.ocultar {
  display: none;
}

@media screen and (min-width: 768px) {
  .ocultar {
    display: block;
  }
}

.txtshadow {
  text-shadow: var(--txtshadow);
}

.direccion {
  padding: 5px 15px 5px 15px;
  width: 100%;
  background: black;
}

.direccion p {
  font-size: 1rem;
  line-height: 1;
}

.mapa {
  padding: 10px 3px 0 3px;
  width: 100%;
  height: 40vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  height: 24px;
  background: var(--bgcolor2);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    height: 90px;
  }
}

.logo {
  position: relative;
  display: none;
}

.logo img {
  display: none;
}

@media screen and (min-width: 1000px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo img {
    display: block;
    width: 360px;
    padding: 0.5rem;
    border: 4px solid transparent;
  }
}

.nav {
  position: relative;
  height: 100%;
  display: block;
  width: 100%;
  background: var(--bgcolor2);
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#toggle-menu {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0.5rem;
  background: var(--bgcolor1);
  text-transform: uppercase;
  text-align: left;
}

@media screen and (min-width: 768px) {
  #toggle-menu {
    display: none;
  }
}

.menu {
  position: relative;
  left: 0;
  top: 37px;
  line-height: 1.5;
  list-style: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  display: none;
}

.menu a {
  display: block;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background: var(--bgcolor1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 0.9rem;
}

.menu a:hover {
  width: 100%;
  background: black;
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    top: 0;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu li {
    border-bottom: 1px solid white;
    font-weight: bold;
    font-size: 1rem;
    border-left: 1px solid white;
    border-right: none;
  }
  .menu li a {
    font-size: 0.8rem;
    padding-left: 0;
    background: var(--bgcolor1);
    display: block;
    color: var(--primary);
    padding: 1rem 2rem;
    text-decoration: none;
    line-height: 1.5;
    text-align: center;
  }
  .menu li a:hover {
    font-size: 0.8rem;
    z-index: 200;
    background: #000;
  }
}

@media screen and (min-width: 1200px) {
  .menu li a {
    font-size: 1rem;
  }
  .menu li a:hover {
    font-size: 1rem;
  }
}

.bgintro {
  background: url("../images/inicio-s.jpg");
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 768px) {
  .bgintro {
    background: url("../images/inicio-xl.jpg");
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.lema {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'Roboto Slab' , sans-serif;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--bgcolort);
}

@media screen and (min-width: 768px) {
  .lema {
    width: 85%;
    line-height: 1.5;
    font-size: 2.5rem;
    letter-spacing: 0.01rem;
  }
}

@media screen and (min-width: 1000px) {
  .lema {
    line-height: 1.5;
    font-size: 3.5rem;
  }
}

.bgnosotros {
  background: url("../images/montain-s.jpg");
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 768px) {
  .bgnosotros {
    background: url("../images/montain-xl.jpg");
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.article {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.4rem 1rem;
  margin-top: 2rem;
  background: var(--bgcolort);
  width: 95%;
  color: white;
}

.article:first-child {
  margin-top: 0.5rem;
}

.article p {
  font-size: 0.9rem;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .article {
    width: 60%;
  }
  .article:first-child {
    margin-top: 4rem;
  }
  .article p {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

.bgservicios {
  background: url("../images/servicios-s.jpg");
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 768px) {
  .bgservicios {
    background: url("../images/servicios-xl.jpg");
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  width: 90vw;
  height: 60vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-top: 90px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-height: 4rem;
  background: rgba(102, 0, 0, 0.8);
}

@media screen and (min-width: 768px) {
  .item {
    margin: auto 10px;
  }
}

.item:hover {
  background: #000;
}

@media screen and (min-width: 768px) {
  .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    max-height: 8rem;
  }
  .item .item:hover {
    z-index: 2;
    background: #000;
  }
}

.service {
  font-weight: bold;
  position: absolute;
  font-size: 1rem;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
  color: var(--primary);
  text-shadow: var(--txtshadow);
  z-index: 1;
  text-align: center;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .service {
    font-size: 1.8rem;
  }
}

.image {
  position: relative;
  display: inline-block;
  height: 100%;
  opacity: 0.3;
  z-index: 500;
}

.image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.image img {
  display: block;
  width: 60%;
  height: 60%;
}

@media screen and (min-width: 768px) {
  .image img {
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.image.fit {
  position: relative;
  display: block;
  width: 100%;
  z-index: 900;
}

.bgexperiencia {
  background: url("../images/calculator-s.jpg");
  background-attachment: scroll;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 768px) {
  .bgexperiencia {
    background: url("../images/calculator-xl.jpg");
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.cards {
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  background: var(--bgcolort);
  height: 40vh;
  color: white;
}

.cards:last-child {
  margin-bottom: 0;
}

.cards p {
  font-size: 1rem;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .cards {
    height: 50vh;
  }
  .cards p {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

.contactos {
  background: #999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
}
