doctype html
html(lang="es")
	head
		link(rel="stylesheet", href="css/estilos.css")
		meta(charset="utf-8")
		link(rel="shortcut icon" href="favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1")
		meta(name="robots" content="index, follow")
		meta(name="description" content="Consultoría Especializada en proyectos de Ingeniría Geomecánica")
	body
		header(class="rflex header")
				.logo
					img(src="images/logo.png")
					h1 GEOMECHANICS AND ENVIRONMENT
				.nav
					#toggle-menu.icon-menu  GEOMECHANICS AND ENVIRONMENT
					ul.menu
						li: a(href="#intro" class="icon-home active")  Inicio
						li: a(href="#nosotros" class="icon-users")  Nosotros
						li: a(href="#servicios" class="icon-suitcase")  Servicios
						li: a(href="#experiencia" class="icon-doc-text-inv")  Experiencia
						li: a(href="#contactos" class="icon-id-card")  Contactos
		section(id="intro" class="cflex fullscreen bgintro")
			p(class="lema") "Ingeniería confiable para una infraestructura sostenible"
		section(id="nosotros" class="cflex fullscreen bgnosotros")
			article(class="article shadow")
				h2(class="txtshadow") MISIÓN
				p Proveer servicios de consultoría especializada en ingeniería geotécnica para el desarrollo sostenible de proyectos civiles y mineros
				
			article(class="article shadow")
				h2(class="txtshadow") VISIÓN
				p Ser la mejor empresa de servicios de consultoría en ingeniería geotécnica del país, reconocida por nuestra innovación y soluciones de valor para nuestros clientes.
		section(id="servicios" class="cflex fullscreen bgservicios")
			div(class="gallery")
				div(class="item shadow")
					a(href="servicios/01.html" class="image fit" data-poptrox="iframe")  
						img(src="images/thumbs/0.png" title="Contactos: 419-5672   &nbsp;&nbsp;  informes@geoenv.pe" alt="Ingeniería Geotécnica")
					span(class="service") Ingeniería Geotécnica
				div(class="item shadow")
					a(href="servicios/02.html" class="image fit" data-poptrox="iframe")  
						img(src="images/thumbs/0.png" title="Contactos: 419-5672   &nbsp;&nbsp;  informes@geoenv.pe" alt="Ingeniería Civil")
					span(class='service') Ingeniería Civil
				div(class="item shadow")
					a(href="servicios/03.html" class="image fit" data-poptrox="iframe") 
						img(src="images/thumbs/0.png" title="Contactos: 419-5672   &nbsp;&nbsp;  informes@geoenv.pe" alt="Minería")
					span(class='service') Minería
				div(class="item shadow") 
					a(href="servicios/04.html" class="image fit" data-poptrox="iframe")
						img(src="images/thumbs/0.png" title="Contactos: 419-5672   &nbsp;&nbsp;  informes@geoenv.pe" alt="Ingeniería Geotécnica")
					span(class='service') Medio Ambiente
		section(id="experiencia" class="cflex fullscreen bgexperiencia")
			div(class="rflex")
				div(class="cflex cards shadow")
					h2(class="txtshadow") EDUARDO MEDINA MSc
					h3 Gerente General
					p + 25 años de experiencia en ingeniería geotécnica en operaciones de minería superficial y subterránea, y gerencia de proyectos de infraestructura minera. Especialidad en la operación, optimización, instrumentación y monitoreo de tajos abiertos.
				div(class="cflex cards shadow")
					h2(class="txtshadow") CARLOS HUAMAN MSc
					h3 Gerente Técnico
					p + 25 años de experiencia en consultoría geotécnica en proyectos civiles y mineros, y gerencia de proyectos de infraestructura minera, desde el nivel conceptual a la ingeniería de cierre. Especialidad en mecánica de rocas, peligro sísmico, geofísica sísmica.

		section(id="contactos" class="cflex fullscreen contactos")
			div(class="rflex")
				form(method="post", action="mail.php", class="consultas shadow")
					h3 CONSULTAS
					div(class="field half first")
						input(type="text", name="name", placeholder="Nombres")
					div(class="field half")
						input(type="text", name="phone", placeholder="Nro. Telefono")
					div(class="field")
						input(type="email", name="email", placeholder="Correo")
					div(class="field")
						textarea(name="message", placeholder="Consulta", rows="9")
					ul(class="actions")
						li
							input(type="reset", value="Cancelar")
						li
							input(type="submit", value="Enviar")
					
				div(class="consultas shadow ocultar")
					h3 DIRECCION
					iframe(class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.207517303235!2d-76.9746473500681!3d-12.097941446105374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7a45c4df4b1%3A0x511c66cc89d1876f!2sEl+Derby+250%2C+Cercado+de+Lima+15023!5e0!3m2!1ses-419!2spe!4v1511434616005" frameborder="0")
					div(class="direccion")
						p Av. El Derby 250 Piso 12, Oficina 1233.
						p Santiago de Surco. Lima 33, Perú.
						p Email: informes@geoenv.pe
						p Télefono: +511 419-5672
					
					
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
		script(src="js/jquery.poptrox.js")
		script(src="js/script.js")